<div  class="row" [ngClass]="setClasses()">

  <!--<div class="col col-md-auto" style="text-align: center; width:20px;">-->

    <!--<img *ngIf="isFirstQuestion" class="glyph-icon" src="assets/svg/si-glyph-circle-info.svg" data-placement="left" data-toggle="popover" data-content="{{question.statement}}"/>-->
  <!--</div>-->

  <div *ngIf="question.explanation; then thenBlock else elseBlock">  </div>
  <ng-template #thenBlock>
    <ng-template #popContent>{{question.explanation}}</ng-template>
    <!--<img class="glyph-icon" src="assets/svg/si-glyph-circle-info.svg" [ngbPopover]="popContent" triggers="mouseenter:mouseleave"/>-->
    <fa class="glyph-icon" name="info-circle" [ngbPopover]="popContent" triggers="mouseenter:mouseleave"></fa>
  </ng-template>
  <ng-template #elseBlock>
    <fa class="glyph-icon-hidden" name="info-circle"></fa>
  </ng-template>


  <!--<ng-template #popContent>test</ng-template>-->
  <!--<button type="button" class="btn btn-outline-secondary" [ngbPopover]="popContent" popoverTitle="Fancy content"> testbutton </button>-->

  <div class="col">
    {{question.statement}}
  </div>

  <div class="col-3">
    <div *ngFor="let q of question.options; let i=index" class="custom-control custom-radio custom-control-inline">
      <input type="radio" name="radio-group-{{question.id}}" id="radio-{{question.id +'-'+i}}" class="custom-control-input" [ngClass]="setRadioClasses(q)" (click)="setFollowUpQuestion(q)" [checked]="selectedOption == q">
      <label class="custom-control-label" for="radio-{{question.id +'-'+i}}">{{q.option}}</label>
    </div>
  </div>

</div>

<app-questionnaire-entry *ngIf="followUpQuestion" [container]="container" [question]="followUpQuestion" [rowNumber]="rowNumber" [isFinished]="isFinished" (questionFinishedEmitter)="onChange($event)"></app-questionnaire-entry>
