<div class="form-div">

  <h4>Course Information</h4>
  <mat-divider></mat-divider>

  <mat-form-field>
    <input matInput placeholder="Course Identifier" [(ngModel)]="courseId">
  </mat-form-field>

  <h4>Test Information</h4>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput placeholder="Test Name" [(ngModel)]="testName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Test Date yyyy-MM-dd (e.g. 2018-01-30)" [(ngModel)]="date">
    <!--<mat-hint>yyyy-MM-dd e.g. 2018-01-30</mat-hint>-->
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Test Type" [(ngModel)]="testType">
      <mat-option *ngFor="let testtype of testTypeOptions" [value]="testtype">{{testtype.shortname}}</mat-option>
    </mat-select>
    <ng-template #popContent>{{testType.description}}</ng-template>
    <button mat-button matSuffix mat-icon-button [ngbPopover]="popContent" triggers="mouseenter:mouseleave" aria-label="Clear">
      <fa name="info"></fa>
    </button>
  </mat-form-field>



  <h4>Main Responsible</h4>
  <mat-divider></mat-divider>

  <mat-form-field>
    <input matInput placeholder="Teacher Number Main Responsible" [(ngModel)]="mainResponsibleId">
  </mat-form-field>


  <h4>Persons To Fill In Questionnaire</h4>
  <mat-divider></mat-divider>

  <mat-form-field *ngFor="let email of teachersToFillInIds;">
    <input matInput [readonly]="true" [value]="email">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="removeEmail(email)">
      <fa name="close"></fa>
    </button>
  </mat-form-field>

  <!--<mat-form-field *ngFor="let email of items; let i = index">-->
    <!--<input matInput placeholder="Email Questionnaire Answerer #1">-->
  <!--</mat-form-field>-->
  <mat-form-field>
    <input #email matInput placeholder="Fill In Teacher Number To Add">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addEmail(email)">
      <fa name="plus"></fa>
    </button>
  </mat-form-field>

  <!--<button mat-button color="primary" (click)="submitTest()">Submit</button>-->
  <button mat-raised-button color="primary" (click)="submitTest()">Submit</button>

</div>
