<app-questionnaire-closed *ngIf="(question.type | uppercase)=='CLOSED'" [container]="container" [question]="question" [rowNumber]="rowNumber" [isFinished]="isFinished" [isFirstQuestion]="isFirstQuestion" (finishEmitter)="onChange($event)"></app-questionnaire-closed>

<app-questionnaire-open *ngIf="(question.type | uppercase) =='OPEN'" [container]="container" [question]="question" [rowNumber]="rowNumber" [isFinished]="isFinished" [isFirstQuestion]="isFirstQuestion" (finishEmitter)="onChange($event)"></app-questionnaire-open>

<app-questionnaire-upload *ngIf="(question.type | uppercase) =='UPLOAD'" [container]="container" [question]="question" [rowNumber]="rowNumber" [isFinished]="isFinished" [isFirstQuestion]="isFirstQuestion" (finishEmitter)="onChange($event)"></app-questionnaire-upload>
