<div class="page-title-div">
  <h2 class="page-title">
    My Tests
  </h2>
  <button mat-fab color="primary" class="title-button" routerLink="/test/add">
    <fa name="plus"></fa>
  </button>
</div>

<mat-divider></mat-divider>

<!--<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">-->

  <!--&lt;!&ndash;- Note that these columns can be defined in any order.-->
        <!--The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

  <!--&lt;!&ndash; Position Column &ndash;&gt;-->
  <!--<ng-container matColumnDef="position">-->
    <!--<th mat-header-cell *matHeaderCellDef> No. </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; Name Column &ndash;&gt;-->
  <!--<ng-container matColumnDef="name">-->
    <!--<th mat-header-cell *matHeaderCellDef> Name </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; Weight Column &ndash;&gt;-->
  <!--<ng-container matColumnDef="weight">-->
    <!--<th mat-header-cell *matHeaderCellDef> Weight </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.weight}} </td>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; Symbol Column &ndash;&gt;-->
  <!--<ng-container matColumnDef="symbol">-->
    <!--<th mat-header-cell *matHeaderCellDef> Symbol </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.symbol}} </td>-->
  <!--</ng-container>-->

  <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</mat-table>-->

