<app-tool-bar-component class="toolbar-main"></app-tool-bar-component>

<!--<mat-drawer-container>-->


  <!--<mat-drawer mode="side" opened="true" class="example-sidenav-container">-->
    <!--<app-side-bar-content-component></app-side-bar-content-component>-->
  <!--</mat-drawer>-->

  <!--<mat-drawer-content>-->

    <!--<app-questionnaire-container></app-questionnaire-container>-->


  <!--</mat-drawer-content>-->
<!--</mat-drawer-container>-->





<div id="wrapper">
  <div id="sidebar-wrapper">
    <!--<ul class="sidebar-nav">-->
      <app-side-bar-content-component></app-side-bar-content-component>
    <!--</ul>-->
  </div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <app-toast-message></app-toast-message>
      <router-outlet></router-outlet>

      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<router-outlet></router-outlet>-->
            <!--&lt;!&ndash;<app-questionnaire-container></app-questionnaire-container>&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
