/*mat-drawer {*/
  /*background-color: #E0E0E0;*/
/*}*/





/*.example-sidenav-container {*/
  /*!* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This*/
     /*causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. *!*/
  /*display: flex;*/
  /*flex: 1;*/
  /*position: fixed;*/
  /*height: 100%;*/

  /*!*position: fixed;*!*/
  /*!*height: 100%;*!*/
  /*!*min-height: 100%;*!*/
  /*!*width: 100%;*!*/
  /*!*min-width: 100%;*!*/
/*}*/

/*.example-container {*/
  /*height: 100%;*/
  /*min-height: 100%;*/
/*}*/

.toolbar-main {
  /*position: fixed;*/
  width: 100%;
  height: 100%;
  /*top: 0;*/
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #E0E0E0;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  /*z-index: 1000;*/
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.page-content {
  padding: 1%;
}

.sidebar-nav {
  position: absolute;
  /*top: 0;*/
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

}
