/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


/* Styles for the questionnaire */
.evenRow {
  background-color: #C5CAE9;
}

.oddRow {
  background-color: #9FA8DA;
}

.doneRow.evenRow {
  background-color: #A5D6A7 !important;
}

.doneRow.oddRow {
  background-color: #81C784 !important;
}

.hidden {
  display: none;
}


.glyph-icon {
  height: 16px;
  width: auto;
  vertical-align: center;
  padding-left: 5px;
}

.glyph-icon-hidden {
  height: 16px;
  width: auto;
  vertical-align: center;
  visibility: hidden;
  padding-left: 5px;
}


.radioDesired::after {

}


/* Styling for title with button */
.page-title {
  display: table-cell;
  vertical-align: text-bottom;
}

.title-button {
  float: right;
  display: table-cell;
  height: 100%;
}

.page-title-div {
  width: 100%;
  display: table;
}

/* Form design */
.form-div > * {
  width: 100%;
}

.form-div {
  padding-left: 15%;
  padding-right: 15%;
}
