<div class="row" [ngClass]="setClasses()">
    <div class="col-12">
      {{question.statement}}
    </div>
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-12">-->
      <!--<div class="file btn btn-lg btn-primary">-->
        <!--Upload-->
        <!--<input type="file" name="file"/>-->
      <!--</div>-->
    <!--</div>-->

  <div class="col-12">


    <div>
      <file-drop  (onFileDrop)="dropped($event)"
                 (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <!--<span><input type="file"/> </span>-->
        <span *ngIf="!uploadedFileName" class="span-upload">
            <label for="files-{{question.id}}" class="btn">Drop file or Click here</label>
        </span>

        <span *ngIf="uploadedFileName" class="span-upload">
          <label for="files-{{question.id}}" class="btn">Uploaded {{uploadedFileName}}. Drop or click again to overwrite.</label>
          <br>
          <button mat-raised-button color="primary" (click)="downloadFile(uploadedFileId, uploadedFileName)">Download</button>
        </span>

        <input id="files-{{question.id}}" class="upload-invisible" type="file" (change)="fileChange($event)">
        <!--<span>Drop here your file</span>-->
      </file-drop>
    </div>

    <!--<p *ngIf="uploadedFile">File successfully uploaded: {{uploadedFile.name}}</p>-->

  </div>
</div>


