
<mat-nav-list>
  <a mat-list-item routerLink="/">Home</a>
  <a mat-list-item routerLink="/mycourses">My Courses</a>
  <a mat-list-item routerLink="/mytests">My Tests</a>
  <a mat-list-item routerLink="/testtype">Test Types</a>
  <a mat-list-item routerLink="/statistics">Statistics</a>
  <!--<a mat-list-item routerLink="/apitester">API Test</a>-->

</mat-nav-list>


<!--<li><a>Home</a></li>-->
<!--<li><a>Test Overview</a></li>-->
<!--<li><a>Statistics</a></li>-->
