<mat-toolbar color="primary" class="mat-elevation-z6 main-toolbar">
  <span>My Application</span>

  <span class="my-spacer"></span>

  <span>
    <a mat-button [matMenuTriggerFor]="appMenu">
      <fa name="user"></fa>
    </a>
    <mat-menu #appMenu="matMenu" yPosition="below" [overlapTrigger]="false">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </span>
</mat-toolbar>
