<h2>
  Add Test Type
</h2>

<mat-divider></mat-divider>

<div class="form-div">

  <mat-form-field >
    <input matInput placeholder="Shortname" [(ngModel)]="shortname">
  </mat-form-field>

  <mat-form-field >
    <textarea matInput placeholder="Description" [(ngModel)]="description"></textarea>
  </mat-form-field>

</div>
