<div class="page-title-div">
  <h2 class="page-title">
    My Tests
  </h2>
  <button mat-fab color="primary" class="title-button" routerLink="/test/add">
    <fa name="plus"></fa>
  </button>
</div>

<mat-divider></mat-divider>

<app-questionnaire-table></app-questionnaire-table>
