<div class="row" [ngClass]="setClasses()">
  <div class="col-12">
    {{question.statement}}
  </div>

<!--</div>-->
<!--<div class="row">-->
  <div class="col-12">
    <textarea class="form-control" rows="3" [(ngModel)]="contents"></textarea>
    <!--<textarea *ngIf="!getAnswer()" class="form-control" rows="3" [(ngModel)]="contents"></textarea>-->
    <!--<textarea *ngIf="getAnswer()" class="form-control" rows="3" [(ngModel)]="contents">{{getAnswer().content}}</textarea>-->
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col">
    <button type="button" class="btn btn-primary" (click)="onSubmitPress()">Submit</button>
  </div>



</div>
