<table class="table table-hover" matSort (matSortChange)="sortData($event)">
  <thead>
  <tr>
    <th mat-sort-header="courseName">Course Name</th>
    <th mat-sort-header="testName">Test Name</th>
    <th mat-sort-header="testDate">Test Date</th>
  </tr>
  </thead>

  <tr *ngFor="let questionnaireEntry of sortedData" (click)="gotoQuestionnaire(questionnaireEntry.id)">
    <td>{{questionnaireEntry.courseName}}</td>
    <td>{{questionnaireEntry.testName}}</td>
    <td>{{questionnaireEntry.testDate | date:'yyyy-MM-dd'}}</td>
  </tr>
</table>
