<div *ngIf="questions" class="questionnaire-container">
  <div class="container border border-primary">

    <app-questionnaire-entry-parent [container]="this" *ngFor="let q of questions; let i = index" [question]="q" [rowNumber]="i"></app-questionnaire-entry-parent>

  </div>

  <div class="container">
    <button *ngIf="isFinished()" mat-raised-button color="primary" class="button-max-width" (click)="submit()">Submit</button>
    <button *ngIf="!isFinished()" mat-raised-button disabled class="button-max-width" >Submit</button>
  </div>

</div>



