<div class="page-title-div">
  <h2 class="page-title">
    Test Types
  </h2>
  <button mat-fab color="primary" class="title-button" routerLink="/testtype/add">
    <fa name="plus"></fa>
  </button>
</div>

<mat-divider></mat-divider>

<p>
  TODO: MAKE TABLE WITH ALL CURRENT TESTTYPES
</p>
